*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header
{
    height: 400px;
    width: 100%;
    display: grid;
    grid-row: 90% 10%;
}

textarea {
    width: 70%;
    margin-left: 20%;
    height: 300px;
    border: none;
    box-shadow: 0px 5px 5px 2px rgb(197, 196, 196);
    outline: none;
    border-radius: 40px;
    padding: 50px;
}
textarea::placeholder{
    font-size: 25px;
}

button {
    background-color: orange;
    width: 30px;
    color: #eee;
    width:30%;
    margin-left: 35%;
    padding: 30px;
    border-radius: 40px;
    outline:none;
    border: none;
    margin-top: 20px;
    font-size: 30px;
}

form{
    margin-top: 100px;
}